// .babelrc 中配置
// 注意：webpack 1 无需设置 libraryDirectory
{
    "plugins": [
      ["import", {
        "libraryName": "vant",
        "libraryDirectory": "es",
        "style": true
      }]
    ]
  }
  
//   // 对于使用 babel7 的用户，可以在 babel.config.js 中配置
//   module.exports = {
//     plugins: [
//       ['import', {
//         libraryName: 'vant',
//         libraryDirectory: 'es',
//         style: true
//       }, 'vant']
//     ]
//   };